<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Agent">
            <directory suffix="Test.php">packages/agent/tests</directory>
        </testsuite>
        <testsuite name="AI">
            <directory suffix="Test.php">packages/ai/tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>packages/agent/src</directory>
            <directory>packages/ai/src</directory>
        </include>
    </source>
</phpunit>
